*{
    margin: 0;
    padding:0;
    overflow-x:hidden ;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:#191d2b;
    color: white;
    background-color: #191d2b;
   
}
#header{
    width: 100%;
    height: 120VH;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
  position: relative;
  z-index: 1;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: flex;

}
.logo{
    display: flex;
    width: 60px;

}
.pad-pp{
    margin-left: 5px;
    
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 18px;
    position:relative

}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #a0f108;
    position:absolute;
    left: 0;
    bottom: -6px;
    transition: o.5s;
}
nav ul li a:hover:after{
    width:100%;
}
.header-text{
    margin-top: 4em;    
}
.header-text h1{
    font-size: 1.5rem;
    
    

}
#about{
    margin-top: 20px;
    color: #767272;
    background-color: #ececec;
}
.about-me-container{
  background-color: #524e4e7c;
  margin-bottom: 5%;
  padding-left: 4%;
  padding-top: 1%;
 
}
.about-me-container p{
  background-color: #ebe2e2;
 
 
}

.about-me-container:hover{
  box-shadow: 14px 11px 9px 4px #0a0a0acf;
}
.row:hover{
  box-shadow: 9px 8px 18px 12px #0a0a0acf
}
.row{
    display: flex;
    overflow: visible;
    border-radius: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    transition: all 1s ease-in-out;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.about-col-1{
    flex-basis: 35%;
    overflow: hidden;
    transition: 1 all;
    -webkit-transition: 1 all;
    -moz-transition: 1 all;
    -ms-transition: 1 all;
    -o-transition: 1 all;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    transition: all 1s ease-in-out;
 
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.about-col-1:hover img{
  cursor: pointer;
  transform: scale(1.5);
  border-radius: 15px;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
.about-col-2 {
    flex-basis: 60%;
    margin-left: 2em;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #857979;
}
.sub-title2{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #a0f108;
    position:relative;
    left: 010px;
    bottom: -8px;
    transition: o.5s;
}
.tab-links.active-links::after{
    width: 50%;
}
.typed-text{
    font-size: 2px;
    font-family: Arial, sans-serif;
    width: 800px;
    font-size: 2rem !important;
    text-align: left;
    padding-top: 3rem;
  }
  #contact{
    background-image: url(images/bckgrd1.jpg);
  }
  .contact-left{
    flex-basis: 35%;
  }
  .contact-right{
    flex-basis: 60%;
  }
  .contact-left p{
    margin-top: 30px;
  }
  .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
  }
  .social-icons{
    margin-top: 20px;
  }
  .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
  }
  .social-icons::hover{
    color: #ff0004;
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
}
.btn{
    display: inline-block;
    background: #ff004f;
    padding: 15px 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    align-items: center;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.header-text{
    display: flex;
    justify-content: space-between;
}
.home-image{
    border-radius: 15px;
    height: 100%;
    width: 78%;
    padding: 1em;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-border-radius: var(--br-sm-2);
    -moz-border-radius: var(--br-sm-2);
    -ms-border-radius: var(--br-sm-2);
    -o-border-radius: var(--br-sm-2);
   
}
.imgdiv{
  position: absolute;
  top: 0%;
  z-index: 0;
  right: 5%;
  height: 100vh;
  width: 30%;
  transform:skew(15deg);
  overflow: hidden;
  background-color: rebeccapurple;
 
  -webkit-transform:skew(15deg);
  -moz-transform:skew(15deg);
  -ms-transform:skew(15deg);
  -o-transform:skew(15deg);
}
.imgdiv  img{
  position: absolute;
  top:-40%;
  left:-41%;
  width: 180%;
  height: 180%;

  filter:grayscale(100%);
  transform: skew(-15deg);
  -webkit-filter:grayscale(100%);

  -webkit-transform: skew(-15deg);
  -moz-transform: skew(-15deg);
  -ms-transform: skew(-15deg);
  -o-transform: skew(-15deg);
}

.imgdiv:hover  img{
  filter:grayscale(0%);
  -webkit-filter:grayscale(0%);
}
.logo-div{
    display: flex;
    align-items: center;
}

<!--------------portfolio--------->

#projects-section {
    background-color: var(--secondary);
    color: var(--neutral);
}
#projects-section h1{
    border-bottom: 5px solid var(--neutral);
    width:fit-content;
    margin-left: 18px;
}
#projects-section .projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
}
#projects-section .project-tile {
    height: 525px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral);
    text-decoration: none;
    color: var(--accent);
    border-radius: 5px;
    box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.3);
}
#projects-section .project-tile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 #projects-section .project-tile p{
    font-size: 25px;
    padding: 10px;
 }
 #projects-section .project-tile span{
    opacity: 0%;
    padding: 0 5px;
 }
 #projects-section .project-tile:hover span{
    opacity: 100%;
    color: var(--primary);
    transition: opacity 0.25s ease-in;
 }
 .show-all {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 15px;
    background-color: var(--neutral);
    color: var(--accent);
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
 }
 .show-all:hover{
    background-color: var(--neutral-focus);
    color: var(--base-100);
   
 }
 .arrow-img{
    height: 35px;
    width: 50px;
    margin-left: 5px;
 }
 .footer-bottom{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 10px;
    color: #fff;
 }
 .fa {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
  }

  .hover-bg {
    background-position: 0px 0px;
    transition: background-position 0.5s ease-out;
    -webkit-transition: background-position 0.5s ease-out;
    -moz-transition: background-position 0.5s ease-out;
    -ms-transition: background-position 0.5s ease-out;
    -o-transition: background-position 0.5s ease-out;
}









* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #0a0909;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.container-slide10{
    display: flex;
    justify-content:space-between;
}



  